@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #111;
}

.head h1 {
    font-size: 50px;
    padding: 40px;
    text-align: center;
}

.menu {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.menu ul {
    width: 1000px;
    margin: 0 auto;

}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    height: 80px;
    display: inline-block;
    line-height: 80px;
    padding: 0 30px;
}

.container {
    padding: 40px 0;
}

.contents {
    width: 1000px;
    margin: 0 auto;
}

.contents h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.contents .img {
    margin-bottom: 30px;
}

.contents .img img {
    width: 100%;
}

.contents p {
    margin-bottom: 20px;
}

.cities {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.cities li {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.cities .photo img {
    border-radius: 12px;
}

.cities .text h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.bottom {
    padding: 40px;
    border-top: 1px solid #ddd;
}

.bottom p {
    font-size: 13px;
    color: #666;
    text-align: center;
}

/* cities_02 */
.cities_02 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.cities_02 li {
    width: 310px;
}

.cities_02 .text h3 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
}

/* cities_03 */
.cities_03 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cities_03 li {
    text-align: center;
}

.cities_03 .photo {
    background-color: #ddd;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    border-radius: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cities_03 .photo.london {
    background-image: url("../images/london_b.jpg");
}

.cities_03 .photo.paris {
    background-image: url("../images/paris_b.jpg");
}

.cities_03 .photo.tokyo {
    background-image: url("../images/tokyo_b.jpg");
}


.cities_03 .text {
    width: 300px;
    margin: 0 auto;
}

.cities_03 .text h3 {
    margin: 8px 0 16px 0;
}